* {
  --color0: #4A287B;
  --color1: #4F7C28;
  --color2: #80C8FC;
  --color3: #AED53C;
  --color4: #1B69C3;
  --color5: #144799;
  --color6: #2C93F7;
  --color7: #B96ADF;
  --color8: #130D0C;
  --color9: #2F211B;
  --color10: #161437;
  --color11: #36412F;
  --color12: #5C372B;
  --color13: #321B57;
  --color14: #172D5D;
  --color15: #764A36;
}
