/* Waybar CSS Theme */
@define-color primary #025EFF;
@define-color secondary #14B409;
@define-color accent #029C32;

window#waybar {
    background-color: #025EFF;
    color: #595959;
}

#workspaces button.active {
    background-color: #14B409;
    color: #025EFF;
}

#clock {
    color: #029C32;
    background: rgba(rgb(16, 81, 185), rgb(16, 81, 185), rgb(16, 81, 185), 0.8);
}
